{% extends 'base.html' %}
{% load static %}

{% block body %} 
<div class="w3-container w3-padding-large w3-grey" style="margin-right: 10%; margin-left: 10%; margin-bottom: 2%; margin-top: 2%;">
    <h4 id="contact"><b>Reach out to us</b></h4>
    {%if msg%}
        <p>{{msg}}</p>
    {%endif%}
    <div class="w3-row-padding w3-center w3-padding-24" style="margin:0 -16px">
        <div class="w3-third w3-dark-grey">
            <p><i class="fa fa-envelope w3-xxlarge w3-text-light-grey"></i></p>
            <p>rentalforpeople@gmail.com</p>
        </div>
        <div class="w3-third w3-teal">
            <p><i class="fa fa-map-marker w3-xxlarge w3-text-light-grey"></i></p>
            <p>Lucknow, India</p>
        </div>
        <div class="w3-third w3-dark-grey">
            <p><i class="fa fa-phone w3-xxlarge w3-text-light-grey"></i></p>
            <p>+91 9876543210</p>
        </div>
    </div>
    <hr class="w3-opacity">
    <form action="/contact/" method="post">
        {% csrf_token %}
        <div class="w3-section">
            <label>Subject</label>
            <input class="w3-input w3-border" type="text" name="subject" required>
        </div>
        <div class="w3-section">
            <label>Email</label>
            <input class="w3-input w3-border" type="text" name="email" required>
        </div>
        <div class="w3-section">
            <label>Message</label>
            <input class="w3-input w3-border" type="text" name="body" required>
        </div>
        <button type="submit" class="w3-button w3-black w3-margin-bottom"><i class="fa fa-paper-plane w3-margin-right"></i>Send Message</button>
    </form>
    <div class="w3-panel w3-large" style="float: right;">
        <p style="font-size: xx-small;">All rights are reserved to http://rentalforpeople.wordpress.com/<br>
            Contact Abhishek Dubey at dubeyabhishek933@gmail.com for further details.
        </p>
    </div>
</div>
{% endblock %}