{% extends 'base.html' %}
{%load static%}

{%block button%}
<a class="btn btn-success navbar-signup-btn-sm" href="/register" style="margin-left: 1em;"><strong>Sign Up</strong></a> 
{%endblock%}

{%block body%}
<div class="w3-container" style="margin-top:1%; margin-left: 10%; margin-right: 10%;">
    <h2>Log in</h2>
   
    <form class="modal-content animate" action="/login" method="post">
           
        {% csrf_token %}
        <div class="container">
            {% if msg %}
                <p style="color: red">{{ msg }}</p>
            {%endif%}
            <label for="uname"><b>Email</b></label>
            <input type="text" placeholder="Enter Username" name="email" required>
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>
            <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </div>
        <div class="container" style="background-color:#f1f1f1">
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>
</div>
{%endblock%}