{%extends 'base.html' %}
{%load static%}
{%block body%}
<script type="text/javascript">
    function PreviewImage() 
    {
        var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("uploadImage").files[0]);
    
        oFReader.onload = function (oFREvent) 
        {
            document.getElementById("uploadPreview").src = oFREvent.target.result;
        };
    };
    
</script>
<div class="w3-container" style="margin-top:1%; margin-left: 10%; margin-right: 10%; margin-bottom: 1%;">
    <h2 style="text-align: center;"><b>Post ad for House</b></h2>


    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible" role="alert">
              <strong>{{ message }}</strong> 
            </div>
        {% endfor %}
    {% endif %}

    <a href="/post/"><button style="float: right;" type="submit" class="btn btn-success btn-sm">Post ad for Apartment</button></a>
    <br>
    <div id = "id1">
        <form action="/posth/" method="post" enctype="multipart/form-data">
            <div class="container">
                {% csrf_token %}
                <label for= 'location'><b>Location</b></label>
                <input type="text" placeholder="Amalbagh" name="location" required>
                <label for="email"><b>City</b></label>
                <input type="text" placeholder="Lucknow" name="city" required>
                <label for="state"><b>State</b></label>
                <input type="text" placeholder="Uttar pradesh" name="state" required>
                <label for="Phone"><b>Area</b></label>
                <input style="width: 100%; height: 50px; margin-bottom: 10px;" type="number"  placeholder="enter in sqaure ft." name="area" required>
                <label for="Floors"><b>Floors</b></label>
                <input style="width: 100%; height: 50px; margin-bottom: 10px;" type="number"  placeholder="enter number of floors" name="floor" required>
                <label for="Cost"><b>Cost</b></label>
                <input style="width: 100%; height: 50px;margin-bottom: 10px;" type="number" placeholder="cost in rupee" name="cost" required>
                <label for="hall"><b>Hall</b></label>
                <input type="text" placeholder="Yes/No" name="hall" required>
                <label for="kitchen"><b>Kitchen</b></label>
                <input type="number" placeholder="1" name="kitchen" required>
                <label for="Balcany"><b>Balcany</b></label>
                <input type="text" placeholder="Yes/No" name="balcany" required>
                <label for="Bedrooms"><b>Bedrooms</b></label>
                <input style="width: 100%; height: 50px;margin-bottom: 10px;" type="number"  placeholder="enter number of bedroom" name="bedroom" required>
                <label for="AC"><b>AC</b></label>
                <input type="text" placeholder="Yes/No" name="AC">
                <label for= "comment"><b>Description</b></label><br>
                <textarea style="width: 100%" name="desc" ></textarea> <br>
                <label for="image"><b>Upload Picture</b></label><br>
                <input id="uploadImage" type="file" name="img" onchange="PreviewImage();" />
                <img name="img" id="uploadPreview" style="width: 100px; height: 100px;" />
                <button class="btn btn-primary btn-block" type="submit">Post</button>
            </div>
        </form>
    </div>
</div>
{%endblock%}