{% extends 'base.html' %}
{%load static%}

{%block button%}
<a class="btn btn-outline-success navbar-login-btn-sm" href="/login" style="color: white;"><strong>Login</strong></a>
{%endblock%}

{%block body%}
<div class="w3-container" style="margin-top:1%; margin-left: 5%; margin-right: 5%;">
    <h2>Sign up</h2>
    <div class="alert alert-info" role="alert">
      {%if msg%}
    <p>{{msg}}</p>
    {%endif%}
    </div>
    
    <form class="modal-content animate" action="/register" method="post">
        <div class="container">
            {% csrf_token %}
            <label for="name"><b>Name</b></label>
            <input type="text" placeholder="Enter Name" name="name" required>
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="user@host.com" name="email" required>
            <label for="location"><b>Location</b></label>
            <input type="text" placeholder="Alambagh" name="location" required>
            <label for="city"><b>City</b></label>
            <input type="text" placeholder="Lucknow" name="city" required>
            <label for="state"><b>State</b></label>
            <input type="text" placeholder="Uttar pradesh" name="state" required>
            <label for="Phone"><b>Phone Number</b></label>
            <input type="number" placeholder="Enter 10 digit Number" name="phone" required>
            <label for="pass"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="pass" required>
            <label for="cpass"><b>Confirm Password</b></label>
            <input type="password" placeholder="Confirm Password" name="cpass" required>
            <button class="btn btn-primary btn-block" type="submit">Sign up</button>
        </div>
    </form>
</div>
{%endblock%}