{% extends 'Gbase.html'%}
{%load static%}
{%block button%}
         
         <button style="color: white" onclick="document.getElementById('id01').style.display='block'" class="btn btn-outline-success my-2 my-sm-0"><strong>Login</strong></button>        
{%endblock%}

{%block body%}

<div class="w3-container" style="margin-top:1%; margin-left: 10%; margin-right: 10%;">
  <h2>Sign up</h2>
  <form class="modal-content animate" action="add" method="post">

      <div class="container">
        {% csrf_token %}
      <label for="name"><b>Name</b></label>
        <input type="text" placeholder="Enter Username" name="name" required>
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Username" name="email" required>
        <label for="location"><b>Location</b></label>
        <input type="text" placeholder="Enter Username" name="location" required>
      <label for="Phone"><b>Phone Number</b></label>
        <input type="text" placeholder="Enter Username" name="phone" required>
        <label for="pass"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="pass" required>
        <label for="cpass"><b>Confirm Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
        
        <button class="btn btn-primary btn-block" type="submit">Sign up</button>
      </div>
    </form>
</div>
{%endblock%}